.grid {
  width: calc(100vw - 20px);
  margin: 0;
}
.grid > ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.grid li {
  display: grid;
  grid-template-columns: 30px 1fr 1fr;
  grid-template-rows: 22px 22px;
  justify-items: stretch;
  justify-content: stretch;
  align-items: end;
}

body {
  color: black;
  font-family: Helvetica;
}

.footer {
  margin-top: 10px;
  text-align: right;
}
input {
  height: 50px;
}

button {
  height: 30px;
  width: 150px;
}

.form-carga {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20px repeat(5, 1fr);
}

.tabs button {
  height: 40px;
  line-height: 1;
}

tbody [rowspan],
tbody [rowspan] ~ th,
tbody [rowspan] ~ td,
tfoot {
  border-top: 1px solid gray;
}

table {
  border-bottom: 1px solid gray;
  border-collapse: collapse;
  width: 100%;
}
