.grid {
  width: calc(100vw - 20px);
  margin: 0;
}
.grid > ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.grid > ul > li {
  display: grid;
  grid-template-columns: repeat(2, minmax(60px, 1fr)) minmax(60px, 3fr) minmax(60px, 2fr) minmax(60px, 1fr) minmax(
      60px,
      6fr
    );
  grid-auto-rows: 38px;
  justify-items: stretch;
  justify-content: stretch;
  align-items: end;
}

.grid > ul > li > div > input {
  width: calc(100% - 5px);
}

body {
  color: black;
  font-family: Helvetica;
}

.footer {
  padding: 20px 20px;
  text-align: right;
}
input {
  height: 50px;
}

button {
  height: 30px;
  width: 150px;
}

.lbl {
  height: 100%;
  display: block;
  font-weight: bold;
  text-align: right;
  padding: 12% 40%;
}
.grid-head div {
  vertical-align: bottom;
}

.form-carga {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 1fr;
}
