<!DOCTYPE html>

<head>
    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#009688">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="EquiRank">
    <meta name="apple-mobile-web-app-title" content="EquiRank">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-navbutton-color" content="#009688">
    <meta name="msapplication-starturl" content="/">
    <meta name="msapplication-TileColor" content="#009688">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>EquiRank</title>
    <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="icons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">    

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/w3.css" />
    <link rel="stylesheet" href="css/icons.css" />    
</head>

<body style="padding:2px;" ng-app="rank" ng-controller="rankCtrl as vm">

    <div class="w3-bar w3-border-bottom w3-light-teal tabs">
        <button ng-class="{'w3-opacity':vm.tab==1}" style="width: 50%;"
            class="w3-bar-item  w3-hover-opacity w3-teal w3-block w3-ripple" id="linkCarga"
            ng-click="vm.tab=1">Carga</button>
        <button ng-class="{'w3-opacity':vm.tab==2}" style="width: 50%;"
            class="w3-bar-item  w3-hover-opacity w3-teal w3-block w3-ripple" id="linkResultados"
            ng-click="vm.tab=2">Resultados</button>
    </div>
    <div class="tab" ng-if="vm.tab==1">
        <form class="form-carga">
            <div></div>
            <div>
                <label><b>Binomio</b></label>
                <input tabindex="0" class="w3-input w3-border" type="text" ng-model="vm.new.binomio">
            </div>
            <div>
                <label><b>Tiempo</b></label>
                <input tabindex="0" class="w3-input w3-border" type="number" min="0" step="any" ng-model="vm.new.tiempo">
            </div>
            <div>
                <label><b>Faltas</b></label>
                <input class="w3-input w3-border" type="number" min="0" step="4" ng-model="vm.new.faltas">
            </div>
            <div>
                <label><b>Comentario</b></label>
                <textarea class="w3-input w3-border" type="text" ng-model="vm.new.comentario"></textarea>
            </div>
            <div>
                <button type="button" ng-disabled="!vm.puedeGuardar()" style="margin-top: 20px; height: 50px;"
                    class="w3-btn w3-teal w3-block" ng-click="vm.guardar(vm.new)">Guardar</button>
            </div>
    </div>
    </div>
    <div class="tab" ng-if="vm.tab==2">
        <form style="display:grid; grid-template-columns: 1fr; grid-template-rows: 1fr 1fr 20px min(5fr,60vh) 1fr">
            <div style=" margin-top:5px;">
                <input class="w3-input w3-border" type="text" ng-model="vm.titulo" placeholder="Título">
            </div>
            <div style="display:grid; grid-template-columns: 1fr 1fr; margin-top:10px;">
                <span style="text-align: right;align-self: center;">Tiempo Referencia: </span>
                <input class="w3-input w3-border" type="number" min="0"  step="any" ng-model="vm.tiempoReferencia"
                    ng-change="vm.actualizarDiferencias(vm.tiempoReferencia)">
            </div>
            <div> <label><b>Resultados</b></label></div>
            <div style=" margin-top:10px;">
                <div style="overflow: auto; max-height:calc(100vh - 280px);">
                    <table>
                        <tbody>
                            <tr ng-repeat-start="r in vm.datos">
                                <td rowspan="2"><span><b>{{$index+1}}</b></span></td>
                                <td colspan="3"><span>N° {{r.ordenSalida}} - {{r.binomio}}</span></td>
                            </tr>
                            <tr ng-repeat-end>
                                <td><i class="icon-cancel-circled"></i><span>{{r.faltas}}
                                    </span></td>
                                <td><i class="icon-stopwatch"></i><span>{{r.tiempo | number : 2}} |
                                        {{r.diferencia | number : 2}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer">
                <button ng-disabled="!vm.puedeExportar()" style="margin-top: 20px; height: 50px;"
                    class="w3-btn w3-teal w3-block" ng-click="vm.exportar()">Exportar</button>
            </div>

    </div>
    </div>

</body>

<script type="text/javascript">
    window.onbeforeunload = function() { return "Estás seguro que queres salir de la aplicación? Exporta los datos antes..."; }
</script>

<script src="js/main.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/rank.module.js"></script>
<script src="js/rank.controller.js"></script>

</html>